*.opensdf
.p4bak
*.dat
*.trx
*.zip
*.xdc
*.testconfig
*.user
*.sqlite3
*.db
*.metagen
*Resharper*
*.suo
bin
obj
PropTest
For_Revit
*.txt
*.log
*~
*.lnk
desktop.ini
*.log
*.exe
*.pdb
Reflector*
npp*
note*
Total*
tmp*
XLS*
*.xml
*.tlog
*.obj
*.ilk
*.pch
*.lastbuildstate
/x64/
*.unsuccessfulbuild
*.sdf
*.bi
*.cache
*.res
*¸±±¾*